<h1>Register performed work on Mechanical Turk</h1>

<%= form_tag(@assignment.turk_submit_to + "/mturk/externalSubmit") do |f| %>
  <%= hidden_field_tag :assignmentId, @assignment.id %>
  <%= hidden_field_tag :classification_id, @assignment.classification_id %>
  <%= submit_tag %>
<% end %>
